body {
  font-family: Tahoma, Geneva, sans-serif;
  color: #fff;
  background: #000;
  background-size: cover;
}
.login {
  background: rgba(44, 62, 80, 0.7);
  padding: 40px;
  width: 320px;
  height: 420px;
  margin: 50px auto;
}

form {
  width: 240px;
  text-align: center;
}

input {
  width: 240px;
  text-align: center;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: "Play", sans-serif;
  font-size: 16px;
  font-weight: 300px;
  padding: 10px 0;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -ms-transition: border 0.5s;
  -o-transition: border 0.5s;
  outline: none;
  color: #fff;
}
input[type="button"] {
  border: none;
  width: 190px;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
}
input[type="button"]:hover {
  color: #fff;
  background-color: #000;
}
h2 {
  color: #fff;
  text-align: center;
}
a {
  color: yellow;
  text-decoration: blink;
  font-size: 14px;
}
a:hover {
  color: skyblue;
}
a:nth-child(1) {
  margin-right: 40px;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
::placeholder {
  color: #fff;
  opacity: 1;
}
#msg {
  visibility: hidden;
  width: 340px;
  background-color: green;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  padding: 16px;
  z-index: 1;
  font-size: 17px;
  margin: 0 auto;
}
#msg.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
@webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
